*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}     
body{
    background-color: #ffffff;
}
.active{
    background-color: #000000;
}
header{
    display: flex;
    justify-content: space-around;
}       