*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mario{
    width: 251px;
    height: 400px;
    border: solid 4px #0a8911;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: flex;
}
.open{
    margin-bottom: 50px;
}
.pop{
    display: flex;
}
.chevron{
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 150px;
    color: #139d64;
    border: none;
    background-color: #0a891000;
}
#left{
    left: 0;
    opacity: 0.4;
    transition: all 0.3s ease;
}
#right{
    left: 180px;
    opacity: 0.4;
    transition: all 0.3s ease;
}
#left:hover,#right:hover{
    transform: scale(1.1);
    opacity: 1;
}
.slide{
    width: 250px;
    height: 400px;
    margin: 0;
    display: inline-block;
/* assurer le cptmt du carousel, inline-block pas de retour à la ligne */
}