*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#content{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.open{
    margin-bottom: 50px;
}
.pop{
    display: flex;
}
.chevron{
    height: 40px;
    position: fixed;
    top: 50%;
    border: none;
    background-color: rgba(240, 248, 255, 0);
}
#left{
    left: 40%;
}
#right{
    right: 40%;
}